html {
    background-image: linear-gradient(to bottom, #AEADF0, #D8DCFF, white);
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
}